<div class="container">
  <div class="row">
    <div class="col">
      <h1>Eat da burger</h1>
      <div class="row">
        {{#each burger_data}}
          {{#unless this.devoured}}
        <div class="col">
            {{this.id}}. {{this.burger_name}}
        </div>
        <div class="col">
          <form action="/burgers/update?_method=PUT" method="post">
            <input type="hidden" name="burger_id" type="text" value={{this.id}}>
            <br>
            <button type="submit" class="">
              EAT IT
            </button>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>
    <div class="col">
      <h4>Burgers you ate:</h4>
      {{#each burger_data}}
        {{#if this.devoured}}
         <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
         {{/if}}
      {{/each}}
    </div>
  </div>
  <br>

  <div class="col">
    <form action="/burgers/create" method="POST">
      <input type="text" name="burger_name" class="form-control" value="" id="enter_text" placeholder="Enter burger you ate...">
      <button type="submit" id="text-enter-butoon">submit</button>
    </form>
  </div>
</div>